/* STYLE DU MENU */
#tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background: #f1f1f1;
}

/* STYLE DES BOUTONS DE NAVIGUATION */
#tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
}
#tabs button:hover {
    background: #ddd;
}
#tabs button.active {
    background: #ccc;
}

/* STYLE DES PAGES */
.page-content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

