#navbar {
    background-color: #333;
    position: fixed;
    width: 100%;
    top: -50px;
    transition: top 300ms;
}

#navbar a {
    float: left;
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px;
    background-color: #333;
}

#navbar a:hover {
    cursor: pointer;
    color: #000;
    background-color: #777;
}