.bg-img {
    background-image: url(img/img_nature.jpg);
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    position: absolute;
    margin: 20px;
    width: auto;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    color: #bbb;
    text-align: center;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #bbb;
    color: #333;
}