#paris { background-color: darkgoldenrod; }
#london { background-color: fuchsia; }
#tokyo { background-color: green; }
#oslo { background-color: rgb(0, 162, 255); }

.tabcontent {
    color: white;
    padding: 50px;
    text-align: center;
    display: none;
}

.tablink {
    background-color: #555;
    color: #fff;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    border: none;
    float: left;
}

.tablink:hover {
    background-color: #777;
}