body {
    font-family: Arial, Helvetica, sans-serif;
}

#img1 {
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    cursor: pointer;
    transition: 300ms;
}

#img1:hover {
    opacity: 0.7;
}

/* MODAL */
#modal {
    position: fixed;
    z-index: 9999999;
    padding-top: 100px;
    top: 0;
    left: 0;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
    width: 100%;
    height: 100%;
    display: none;
}

.modal-content {
    width: 80%;
    max-width: 700px;
    display: block;
    margin: auto;
}

#title {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: rgb(192, 192, 192);
    padding: 10px 0;
    height: 150px;
}

#title, .modal-content {
    animation: zoom 600ms;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bolder;
}

.close:hover,
.close:focus {
    color: #b1b1b1;
    text-decoration: none;
    cursor: pointer;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}