.accordion {
    font: gray;
    color: rgb(59, 59, 59);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    font-size: 15px;
    transition: 400ms;
}

.panel {
    max-height: 0;
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    transition: max-height 200ms ease-out;
}

.active, .accordion:hover {
    background-color: rgb(131, 81, 81);
}