body {
    margin: 0;
}

.icon-bar {
    width: 100%;
    background: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    color: white;
    font-size: 36px;
    transition: all 300ms ease;
}

.icon-bar a:hover {
    background: #000;
}

.active {
    background: #4caf50;
}