#navbar {
    overflow: hidden;
    background-color: #222;
}

#navbar a {
    float: left;
    display: block;
    color: #bbb;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}