.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-bt {
    background: darkgoldenrod;
    color: black;
    padding: 2px 15px;
    border: 1px solid rgb(155, 114, 11);
    border-radius: 5px;
}

.dropdown-content {
    position: absolute;
    top: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    display: none;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 12px 15px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}