body {
    margin: 0;
}

.icon-bar {
    width: 90px;
    background: #555;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px 0;
    color: white;
    font-size: 36px;
    transition: all 300ms ease;
}

.icon-bar a:hover {
    background: #000;
}

.active {
    background: #4caf50;
}