* { box-sizing: border-box; }

body {
    padding: 0;
    margin: 0;
}

.slideshow-container {
    max-height: 1000px;
    position: relative;
    margin: auto;
}

.slideshow-container .slide img {
    width: 100%;
}

.slide {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    transition: 600ms ease;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0px 0px 3px;
}

.prev:hover, .next:hover {
    background: rgba(0, 0, 0, 0.432);
}

.title {
    position: absolute;
    padding: 8px 12px;
    font-size: 15px;
    color: #f2f2f2;
    bottom: 8px;
    width: 100%;
    text-align: center;
    text-transform: uppercase; 
}

.number {
    position: absolute;
    padding: 8px 12px;
    font-size: 12px;
    color: #f2f2f2;
    top: 0;
}

.dot {
    background-color: #bbb;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 2px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 600ms ease;
}

.dots {
    text-align: center;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1500ms;
}

@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}