.row > .column {
    padding: 0 8px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

.modal-content {
    position: relative;
    background-color: rgb(212, 212, 212);
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bolder;
}

.close:hover,
.close:focus {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

.slides {
    /* display: none; */
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    transition: 600ms ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.next:hover,
.prev:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.number-text {
    color: rgb(212, 212, 212);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 300ms;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.slides img {
    width: 100%
}